<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>S</b>TI</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>STI</b>App</span>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="">
                        <!-- Menu Toggle Button -->
                        <!-- The user image in the navbar-->
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        
                        @if (Session["usuariologado"] != null)
                        {
                            <span>
                                <img id="foto-user" src="~/Content/img/user.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <strong> @Session["usuariologado"].ToString()</strong>
                                <strong>@Html.ActionLink("Logoff", "Login", "Home", new object { }, new { @class = "text-danger" })</strong>
                            </span>
                        }
                        else
                        {
                            <img id="foto-user" src="~/Content/img/user.jpg" class="user-image" alt="User Image">
                            <span>
                                user.com
                            </span>
                        }
                    </li>
                </ul>
            </div>
        </nav>
</header>


