@{
    ViewBag.Title = "A Empresa";
}

<body id="bd-home">
    <div id="site">

        <div id="conteudo" class="grupo">
            <div id="conteudo-principal">
                <h1>Bem-vindo ao site da Empresa</h1>

                <p>
                    Apresente suas ideias para o mundo.
                    Não imponha limites para a sua criatividade, deixe-a correr pelo seu negócio livremente.
                    Tenha ao seu lado pessoas entusiastas, doadoras, comprometidas e que acreditam que o céu é o limite.
                    Tamanho de empresa não importa e sim, a disposição da sua equipe de inovar em um mundo cheio de grandes ideias. Não entre em desespero quando as coisas derem errado, isso é só um aviso de que você deve seguir por um caminho diferente.

                    A tecnologia é uma ferramenta que pode te ajudar a alcançar o mundo, use-a sem medo e sem moderação.
                    Delegue trabalho, não faça tudo sozinho, duas cabeças pensam muito melhor que uma.
                    Parou de funcionar? Não se desespere, sempre tem alguém que pode te ajudar.
                    A genialidade não escolhe gênero, etnia ou credo, se ela aparecer em sua porta, aproveite-a.
                    Ajude, seja proativo e logo você vai perceber que ganhou novos amigos e não somente novos clientes.
                    Viva seus sonhos acordado.

                    E lembre-se que se der medo... vá com medo, mas tenha certeza de fazer algo bem feito.
                </p>

                <p>
                    Cansado de problemas com técnicos de informática ou empresas de TI?
                    Conheça a Penso e ganhe tranquilidade para o seu negócio
                </p>

                <p>
                    <a href="servicos.html">Conheça nossos serviços</a>
                </p>
            </div>
            <div id="conteudo-secundario">
                <div class="interna">
                    <h1>Sobre a Empresa</h1>
                    <p>
                        DEIXE-NOS CUIDAR DA SUA TI
                        Tecnologia a favor do seu negócio
                        Somos uma empresa de serviços de TI criada para possibilitar que os clientes utilizem a tecnologia a favor de seus negócios. Desde 2003, a empresa presta serviços e entrega soluções que proporcionam aos clientes desempenho e tranquilidade.

                        É uma empresa reconhecida pelo comprometimento com o resultado final e preocupação em exceder as expectativas de seus clientes. Sua equipe trabalha dentro dos mais altos padrões de qualidade e é composta por profissionais especializados em diferentes plataformas tecnológicas.
                    </p>
                    <p>
                        <a href="empresa.html">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="rodape-fora">
            <div id="rodape" class="grupo">
                <p id="telefone-email">
                    contato@exemplo.com.br
                    <br>
                    <span class="ddd">41</span> 5555-5555
                </p>
                <p id="endereco">
                    Rua do Endereço, 123, Bairro
                    <br>
                    CEP 80000-000
                    <br>
                    Curitiba - PR
                </p>
                <small id="copyright">
                    &copy; Empresa Ltda. Todos os Direitos Reservados.
                </small>
            </div>
        </div>
    </div>
</body>
