@{
    ViewBag.Title = "Sobre nós";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="bd-home">
    <div id="site">

        <div id="conteudo" class="grupo">
            <div id="conteudo-principal">
                <h1>Bem-vindo ao site da Empresa</h1>


                <p>
                    <a href="#">Conheça nossos serviços</a>
                </p>
            </div>
            <div id="conteudo-secundario">
                <div class="interna">
                    <h1>Nossa História</h1>
                    <p>
                        <a href="#">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="rodape-fora">
            <div id="rodape" class="grupo">
                <p id="telefone-email">
                    contato@exemplo.com.br
                    <br>
                    <span class="ddd">41</span> 5555-5555
                </p>
                <p id="endereco">
                    Rua do Endereço, 123, Bairro
                    <br>
                    CEP 80000-000
                    <br>
                    Curitiba - PR
                </p>
                <small id="copyright">
                    &copy; Empresa Ltda. Todos os Direitos Reservados.
                </small>
            </div>
        </div>
    </div>
</body>
